.logo-img {
  width: 60px; /* Ajustez la taille selon vos besoins */
  height: auto;
  border-radius: 50%; /* Pour un effet arrondi */
  border: 2px solid #ffffff; /* Bordure blanche autour du logo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: transform 0.3s; /* Transition pour l'effet de survol */
}

.logo-img:hover {
  transform: scale(1.1); /* Effet de zoom au survol */
}

.navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link i {
  margin-right: 8px; /* Space between icon and text */
  font-size: 1.2rem; /* Size of the icon */
  color: #ffffff; /* Color of the icon */
}

.navbar-nav .nav-item .nav-link:hover i {
  color: #f8f9fa; /* Change color on hover */
}
