<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="OnLogin()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
          </form>
          <div *ngIf="message" class="alert mt-3" [ngClass]="messageClass">{{ message }}</div>

          <!-- Google Sign-In Button -->
          <div id="g_id_onload"
               data-client_id="585831849215-jokbgmu013ti2dqr3i30c3126ol3e6at.apps.googleusercontent.com"
               data-context="signin"
               data-login_uri="http://localhost:3000/api/login"
               data-auto_select="true"
               data-itp_support="true">
          </div>
          <div class="g_id_signin"
               data-type="standard"
               data-shape="rectangular"
               data-theme="outline"
               data-text="sign_in_with"
               data-size="large"
               data-logo_alignment="left">
          </div>

          <!-- Sign Up Link -->
          <div class="text-center mt-3">
            <p>Vous n'avez pas de compte ? <a routerLink="/register" class="btn btn-link">S'inscrire</a></p>
          </div>

          <div class="text-center mt-3">
            <p>Mot de passe oublié ? <a routerLink="/forgotpassword" class="btn btn-link">Mot de passe oublié</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
