<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Recherche" [(ngModel)]="searchTerm" (input)="filterUsers()" aria-label="Rechercher un utilisateur" aria-describedby="search-icon">
      </div>
    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-primary" (click)="downloadPdf()">
        <i class="fas fa-file-pdf"></i> Télécharger la liste des utilisateurs
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let user of filteredUsers; let ind = index">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ user.nom }} {{ user.prenom }}</h5>
          <p class="card-text">{{ user.email }}</p>
          <qrcode [qrdata]="user.email"></qrcode>
          <div class="btn-group mt-3" role="group">
            <button class="btn btn-danger me-2" (click)="SupprimerUser(user.id, ind)">
              <i class="fas fa-trash-alt"></i> Supprimer
            </button>
            <button class="btn btn-info" [routerLink]="['/update', user.id]">
              <i class="fas fa-edit"></i> Modifier
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
